spring:
  profile:
    active: test

server:
  port: 8081

logging:
  file:
    name: logs/log_v1_1.log


---
#test 환경
spring:
  config:
    activate:
      on-profile: test
  h2:
    console:
      enabled: true
      path: /h2

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;
    username: sa
    password:


  jpa:
    show-sql: false
    generate-ddl: true


---
#test 환경
spring:
  config:
    activate:
      on-profile: esxi

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://192.168.0.9:5432/database_b
    username: postgres1
    password: postgres1

  jpa:
    show-sql: false
    generate-ddl: true
    hibernate:
      ddl-auto: update
